{% extends "main_base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'css/extended_beauty.css') }}"
/>
{% endblock %} {% block content %}

<!---Containerize main page for styling--->
<div class="page">
  <!---Containerize paragraph and form for styling--->
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <!-- List Start -->
    <div class="card mb-2">
      <div class="card-body">
        {% if products is defined and products %}
          <div id="filterproductArea" class="mx-1 my-1 mb-2">
            <input
              type="text"
              class="form-control"
              id="filterproductsString"
              placeholder="Enter any keyword to filter a list of products"
            />
          </div>
          {% endif %}

          <div id="productsDiv" class="row list-group-horizontal mx-1 my-1">
            {% if products is defined and products %} {% for product in products
            %}
            <a
              href="#"
              class="col-2 list-group-item list-group-item-action"
              data-id="{{ product.product_id }}"
              name="tappedProductLink"
            >
              <label class="form-check-label text-primary">
                {{ product.product_name }}
                <span>
                  <i hidden>{{ product.product_keywords }}</i>
                </span>
              </label>
            </a>
            {% endfor %} {% else %}
            <li class="list-group-item">No product added yet!</li>
            {% endif %}
          </div>
        </div>

        <div id="resultsOBar" class="row mt-2" style="display: none">

        </div>

        <div id="resultsBar" class="row mt-2" style="display: none">
          <!--<canvas
            id="trustChart"
            class="mb-4"
            style="width: 100%; max-width: 900px"
          ></canvas>
          <canvas
            id="contributorsChart"
            style="width: 100%; max-width: 900px"
          ></canvas>
          -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}{% block scripts %}
<script src="{{ url_for('static', filename= 'js/Chart.js') }}"></script>

<script type="text/javascript">

  // #####################################################################
  // CHARTS JS COLORS - START
  // #####################################################################

    const backgroundColorsStore = [
      "rgba(255, 99, 132, 0.2)",
      "rgba(255, 159, 64, 0.2)",
      "rgba(255, 205, 86, 0.2)",
      "rgba(75, 192, 192, 0.2)",
      "rgba(54, 162, 235, 0.2)",
      "rgba(153, 102, 255, 0.2)",
      "rgba(201, 203, 207, 0.2)"
      ];
    const borderColorsStore = [
      "rgb(255, 99, 132)",
      "rgb(255, 159, 64)",
      "rgb(255, 205, 86)",
      "rgb(75, 192, 192)",
      "rgb(54, 162, 235)",
      "rgb(153, 102, 255)",
      "rgb(201, 203, 207)",
    ];
    const pieColorsStore = [
      "#2b5797",
      "rgb(255, 205, 86)",
      "green",
      "#1e7145",
      "red",
      "#b91d47",
      "rgb(255, 99, 132)",
      "blue",
      "#e8c3b9",
      "orange",
      "#00aba9",
      "rgb(54, 162, 235)",
      "brown",
    ];

  // #####################################################################
  // CHARTS JS COLORS - END
  // #####################################################################



  // #####################################################################
  // FILTER PRODUCTS LOGIC - START
  // #####################################################################

  $("#filterproductsString").keyup(function () {
    var filter = $(this).val();
    $("#productsDiv a").each(function () {
      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
        $(this).hide();
      } else {
        $(this).show();
      }
    });
  });
  // #####################################################################
  // FILTER PRODUCTS LOGIC - END
  // #####################################################################

  // #####################################################################
  // SUBMIT AND RETURN TRUST SCORES - START
  // #####################################################################

  $("div#productsDiv").on("click", "a", function () {
    if (this.name == "tappedProductLink") {
      const product_id = $(this).attr("data-id");
       var dialog = bootbox.dialog({message:
            '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Please wait...</div>',
          closeButton: false,
        }).on("shown.bs.modal", function () {
          $.ajax({
            url: "{{ url_for('generator.generate_trust') }}",
            type: "POST",
            data: { product: product_id },
            dataType: "JSON",
            success: function (response) {
              if (response.status) {
                dialog.modal("hide");
                // console.log(response.data.factors);
                setOverallTrust(response.data.product, response.data.overall);
                setTrustScores(response.data.factors, response.data.product);
              } else {
                if (response.message == "login_required") {
                  dialog.modal("hide");
                  login_url = "{{ url_for('auth.login') }}";
                  window.location.replace(response.url);
                } else {
                  bootbox.alert(response.message.toString(), function () {
                    dialog.modal("hide");
                  });
                }
              }
            },
            error: function (jqXHR, textStatus, errorThrown) {
              bootbox.alert(errorThrown.toString(), function () {
                console.log(jqXHR);
                dialog.modal("hide");
              });
            },
          });
        });

    }
  });

  function setTrustScores(scores, product){
    $("#resultsBar").html("");
    $.each(scores, function(key, value){
      $.each(value, function(factor, f_data){
        $(`#trustChart${factor}`).remove();
        $("#resultsBar").append(`<div class="col-md-6"><canvas id="trustChart${factor}" class="mb-4" style="width: 100%; max-width: 900px"><canvas><div>`);
          //console.log(factor)
          let xValues = [];
          let yValues = [];
          let ypieValues = [];
          let backgroundColors = [];
          // let pieColors = [];
          let borderColors = [];

        $.each(f_data, function(key2, value2){
          $.each(value2, function(platform, p_data){

            let randombackgroundColor = Math.floor(Math.random() * backgroundColorsStore.length);
            let randomborderColor = Math.floor(Math.random() * borderColorsStore.length);
            // let randompieColor = Math.floor(Math.random() * pieColorsStore.length);

            xValues.push(platform);
            yValues.push(p_data.percent);
            ypieValues.push(p_data.count);
            backgroundColors.push(backgroundColorsStore[randombackgroundColor]);
            borderColors.push(borderColorsStore[randomborderColor]);
            // pieColors.push(pieColorsStore[randompieColor]);

            //console.log(platform)
            //console.log(p_data)
          });          
        });
        
        var trustChart = new Chart(`trustChart${factor}`, {
          type: "horizontalBar",
          data: {
            labels: xValues,
            datasets: [
              {
                axis: "y",
                label: "Trust Percentage",
                data: yValues,
                fill: false,
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1,
              },
            ],
          },
          options: {
            // indexAxis: "y",
            legend: { display: false },
            responsive: true,
            title: {
              display: true,
              text: `${factor.replace("_", " ").toUpperCase()} - ${product.toUpperCase()}`,
            },
            scales: {
              xAxes: [{ ticks: { min: 0, max: 100 } }],
            },
          },
        });
      });
    });
    $('#resultsBar').show();
  }

  function setOverallTrust(product, overall){
     $("#resultsOBar").html("");
    
    $(`#overallChart`).remove();
    $("#resultsOBar").append(`<div class="col-md-6 d-flex justify-content-center"><canvas id="overallChart" class="mb-4" style="max-width: 100%; max-width: 900px"><canvas><div>`);

    let xValues = [];
    let yValues = [];
    let ypieValues = [];
    let backgroundColors = [];
    // let pieColors = [];
    let borderColors = [];

    $.each(overall, function(key, value){
      let randombackgroundColor = Math.floor(Math.random() * backgroundColorsStore.length);
      let randomborderColor = Math.floor(Math.random() * borderColorsStore.length);
      // let randompieColor = Math.floor(Math.random() * pieColorsStore.length);
      
      xValues.push(key);
      yValues.push(value);
      // ypieValues.push(value.count);

      backgroundColors.push(
        backgroundColorsStore[randombackgroundColor]
      );
      borderColors.push(borderColorsStore[randomborderColor]);
      // pieColors.push(pieColorsStore[randompieColor]);
   });
   
   new Chart("overallChart", {
    type: "horizontalBar",
      data: {
        labels: xValues,
        datasets: [
          {
            axis: "y",
            label: "Trust Percentage",
            data: yValues,
            fill: false,
            backgroundColor: backgroundColors,
            borderColor: borderColors,
            borderWidth: 1,
          },
        ],
      },
      options: {
        // indexAxis: "y",
        legend: { display: false },
        responsive: true,
        title: {
          display: true,
          text:  `OVERALL TRUST - ${product.toUpperCase()}`,
        },
        scales: {
          xAxes: [{ ticks: { min: 0, max: 100 } }],
        },
      },
    });

    //console.log(product)
   // console.log(overall)
    $('#resultsOBar').show();
  }







  // THIS CODE IS DEPRECATED
  $("#submitBtn").click(function (event) {
    event.preventDefault();

    $("#trustChart").remove();
    $("#contributorsChart").remove();

    $("#resultsBar").append(
      '<canvas id="trustChart" class="mb-4" style="width: 100%; max-width: 900px"><canvas>'
    );
    $("#resultsBar").append(
      '<canvas id="contributorsChart" style="width: 100%; max-width: 900px"><canvas>'
    );

    let is_product_checked =
      $("div.products-checkbox-group.required :checkbox:checked").length > 0;
    let is_factor_checked =
      $("div.factors-checkbox-group.required :checkbox:checked").length > 0;

    if (is_product_checked == false || is_factor_checked == false) {
      const textStatus = is_product_checked == false ? "product!" : "factor!";
      bootbox.alert(
        '<p class="text-danger">Oops!, Please select a ' + textStatus + "</p>"
      );
    } else {
      // let data = $("#trustGenerateForm").serialize();
      // document.getElementById("resultsBar").style.display = "block";
      // $("#resultsBar").html("Results here");

      var dialog = bootbox
        .dialog({
          message:
            '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Please wait...</div>',
          closeButton: false,
        })
        .on("shown.bs.modal", function () {
          let data = $("#trustGenerateForm").serialize();
          $.ajax({
            url: "{{ url_for('generator.generate_trust') }}",
            type: "POST",
            data: data,
            dataType: "JSON",
            success: function (response) {
              if (response.status) {
                document.getElementById("resultsBar").style.display = "block";
                // $("#trustGenerateForm")[0].reset();
                dialog.modal("hide");
                const backgroundColorsStore = [
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(255, 159, 64, 0.2)",
                  "rgba(255, 205, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(153, 102, 255, 0.2)",
                  "rgba(201, 203, 207, 0.2)",
                ];
                const borderColorsStore = [
                  "rgb(255, 99, 132)",
                  "rgb(255, 159, 64)",
                  "rgb(255, 205, 86)",
                  "rgb(75, 192, 192)",
                  "rgb(54, 162, 235)",
                  "rgb(153, 102, 255)",
                  "rgb(201, 203, 207)",
                ];
                const pieColorsStore = [
                  "#2b5797",
                  "rgb(255, 205, 86)",
                  "green",
                  "#1e7145",
                  "red",
                  "#b91d47",
                  "rgb(255, 99, 132)",
                  "blue",
                  "#e8c3b9",
                  "orange",
                  "#00aba9",
                  "rgb(54, 162, 235)",
                  "brown",
                ];

                let xValues = [];
                let yValues = [];
                let ypieValues = [];
                let backgroundColors = [];
                let pieColors = [];
                let borderColors = [];

                let response_data = response.data.data;

                let factor = response.data.factor;
                let product = response.data.product;

                $.each(response_data, function (key, value) {
                  let randombackgroundColor = Math.floor(
                    Math.random() * backgroundColorsStore.length
                  );
                  let randomborderColor = Math.floor(
                    Math.random() * borderColorsStore.length
                  );
                  let randompieColor = Math.floor(
                    Math.random() * pieColorsStore.length
                  );

                  xValues.push(value.platform);

                  yValues.push(value.total);
                  ypieValues.push(value.count);

                  backgroundColors.push(
                    backgroundColorsStore[randombackgroundColor]
                  );
                  borderColors.push(borderColorsStore[randomborderColor]);
                  pieColors.push(pieColorsStore[randompieColor]);
                });

                var trustChart = new Chart("trustChart", {
                  type: "horizontalBar",
                  data: {
                    labels: xValues,
                    datasets: [
                      {
                        axis: "y",
                        label: "Trust Percentage",
                        data: yValues,
                        fill: false,
                        backgroundColor: backgroundColors,
                        borderColor: borderColors,
                        borderWidth: 1,
                      },
                    ],
                  },
                  options: {
                    // indexAxis: "y",
                    legend: { display: false },
                    responsive: true,
                    title: {
                      display: true,
                      text: factor + " - " + product + " (Trust Percentages)",
                    },
                    scales: {
                      xAxes: [{ ticks: { min: 0, max: 100 } }],
                    },
                  },
                });

                var contributorsChart = new Chart("contributorsChart", {
                  type: "doughnut",
                  data: {
                    labels: xValues,
                    datasets: [
                      {
                        backgroundColor: pieColors,
                        data: ypieValues,
                        hoverOffset: 4,
                      },
                    ],
                  },
                  options: {
                    title: {
                      display: true,
                      text: factor + " - " + product + " (Total Comments)",
                    },
                  },
                });
              } else {
                if (response.message == "login_required") {
                  dialog.modal("hide");
                  login_url = "{{ url_for('auth.login') }}";
                  window.location.replace(response.url);
                } else {
                  bootbox.alert(response.message.toString(), function () {
                    dialog.modal("hide");
                  });
                }
              }
            },
            error: function (jqXHR, textStatus, errorThrown) {
              bootbox.alert(errorThrown.toString(), function () {
                dialog.modal("hide");
              });
            },
          });
        });
    }
  });

  // #####################################################################
  // SUBMIT AND RETURN TRUST - END
  // #####################################################################
</script>

{% endblock %}
